name: Automated Threat Intel

on:
  workflow_dispatch:
  schedule:
    - cron: '0 13,1 * * *'  # Twice daily 08:00AM & 08:00PM EST

jobs:
  update_pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run pipeline
        run: python -m src.run

      - name: Update README
        run: python src/scripts/update_readme.py

      - name: Configure Git
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@users.noreply.github.com"

      - name: Commit and push changes
        env:
          NTIA_PAT: ${{ secrets.NTIA_Key }}
        run: |
          if git diff --quiet HEAD build/* outputs/* README.md; then
            echo "No changes to commit."
          else
            git add build/* outputs/* README.md
            git commit -m "Automated update: pipeline outputs + README" --author="github-actions <github-actions@users.noreply.github.com>"
            git push https://x-access-token:${NTIA_PAT}@github.com/${GITHUB_REPOSITORY}.git HEAD:main
          fi
